# Assignment 7: Bringing it All Together

NumPy task - let's read in some data with the help of Pandas.

Our data scientist provided the code to read in a csv as a Pandas dataframe, and has converted the two columns of interest to arrays.

* Filter `sales_array` down to only sales where the product family was produce. 

* Then, randomly sample roughly half (random number < .5) of the produce sales and report the mean and median sales. Use a random seed of 2022.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_retail =pd.read_csv("retail_2016_2017.csv")

In [3]:
df_retail.head(5)

        id        date  store_nbr      family  sales  onpromotion
0  1945944  2016-01-01          1  AUTOMOTIVE    0.0            0
1  1945945  2016-01-01          1   BABY CARE    0.0            0
2  1945946  2016-01-01          1      BEAUTY    0.0            0
3  1945947  2016-01-01          1   BEVERAGES    0.0            0
4  1945948  2016-01-01          1       BOOKS    0.0            0

In [5]:
df_retail.tail(5)

,id,date,store_nbr,family,sales,onpromotion
1054939,3000883,2017-08-15,9,POULTRY,438.133,0
1054940,3000884,2017-08-15,9,PREPARED FOODS,154.553,1
1054941,3000885,2017-08-15,9,PRODUCE,2419.729,148
1054942,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
1054943,3000887,2017-08-15,9,SEAFOOD,16.000,0

In [9]:
#sales_array and family_array are created from the dataframe

sales_array=np.array(df_retail['sales'])
family_array=np.array(df_retail['family'])

In [10]:
family_array

array(['AUTOMOTIVE', 'BABY CARE', 'BEAUTY', ..., 'PRODUCE',
       'SCHOOL AND OFFICE SUPPLIES', 'SEAFOOD'], dtype=object)

In [11]:
sales_array

array([   0.   ,    0.   ,    0.   , ..., 2419.729,  121.   ,   16.   ])

In [13]:
len(sales_array)

1054944

In [18]:
#filter sales 'PRODUCE' from sales_array

produce_array = sales_array[(family_array =='PRODUCE')]

In [19]:
produce_array

array([   0.   ,    0.   ,    0.   , ..., 5113.961, 3939.392, 2419.729])

In [20]:
produce_array.size

31968

In [27]:
rng=np.random.default_rng(2022)
random_array=rng.random(31968)

In [28]:
random_array

array([0.24742606, 0.09299006, 0.61176337, ..., 0.93857256, 0.45644019,
       0.96187419])

In [29]:
#sample produce_array

sampled_array =produce_array[random_array<0.5]#half of produce array

In [30]:
sampled_array

array([   0.   ,    0.   ,    0.   , ..., 3803.368,  915.371, 3939.392])

In [31]:
sampled_array.size

16047

In [32]:
sampled_array.mean()

2298.4634918892007

In [33]:
np.median(sampled_array)

1479.333